@import '../common';

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: $header-height;
  background: $white;

  .nav-container {
    width: $container-width;
    margin: 0 auto;    
  }
  
  a {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    line-height: $header-height;
  }
}