@import '../common';

.carousel {
  position: relative;

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: $grey;
    opacity: 0.4;
    transition: opacity 0.2s;
    z-index: 5;
    font-size: 24px;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 1; 
    }

    &--next {
      left: auto;
      right: 0;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }

    .swiper-slide {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
      transition-property: transform;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}